@import "tailwindcss";


@theme {
    --color-constructor-blue: #003366;
    --color-safety-orange: #FF6600;
    --color-cement-gray: #607d8b;
}

html {
  scroll-behavior: smooth;
}

/* Class for Glassmorphism (Liquid Glass) */
@layer utilities {
  .glass {
    @apply bg-white/10 backdrop-blur-lg border-t border-white/20 shadow-lg;
  }
  .glass-dark {
    @apply dark:bg-gray-900/40 dark:border-gray-700/30;
  }
  
 
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Transitions*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}